.header {
    background: var(--core-light);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    color: var(--core-dark);
    height: 6rem;
    box-shadow: 0 0.8px 0.8px rgba(0, 0, 0, 0.04), 0 2.3px 2px rgba(0, 0, 0, 0.03);
    transition: all .4s ease;
}

.header + main {
    padding-top: 6rem;
}

.headerStick {
    color: var(--core-dark);
    height: 4.5rem;
    background: rgba(155, 155, 155, 0.05);
    box-shadow: 0 0px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .2s ease;
    animation: textAppears 1s ease;
}

@keyframes textAppears {
    0% {
        color: transparent;
    }
    100% {
        color: var(--core-dark);
    }
}

.footer {
    z-index: 100;
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    color: var(--core-medium);
    box-shadow: 0 -0.8px 0.8px rgba(0, 0, 0, 0.04), 0 -2.3px 2px rgba(0, 0, 0, 0.03);
}

.main {
    z-index: 100;
    display: flex;
    min-height: calc(100vh - 5rem);
    justify-content: center;
    align-items: center;
}

.weatherApp {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
    padding: 3rem 1rem 3rem 1rem;
}

.weatherMain,
.weatherForecast {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherDetails{
    width: 100%;
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
}